<img src="{{this.flags.svg}}" alt="{{this.name.official}}">
<h1>{{this.name.official}}</h1>
<p><strong>Capital: </strong> {{this.capital}}</p>
<p><strong>Population: </strong>{{this.population}}</p>
<p><strong>Languages: </strong>{{#each this.languages}} {{this}}<span>,</span> {{/each}}</p>

